.bg{
	position: absolute;
	position: fixed ;
	left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: 1; 
    background: url(https://www.rubaltic.ru/upload/iblock/06a/06a76121a3327b7e53012cdec9c1a0a3.jpg);
    filter: blur(2px) ;
    background-size: 100%;

}
.space{
	position: absolute;
	background-color: #E5D3BD;
	margin-left: 15%;
	height: 100%;
	width: 70%;
	z-index: 2;
	filter: blur(0px);
	overflow: scroll;
	
}
.year{
	
	font-size: 50px;		
}
.pict{
	align-items: left;
	margin-left: 10%;
	height: 250px;
	width: 200px;
	border: 3px solid black;
}
.yearsmol{
    
	font-size: 20px;
	
}
.text{
	font-size: 25px;
 	word-wrap: break-word;
}
a{
	color:#6c6359;
	text-decoration: none;
}
a:visited{
	color: #6c6359;
}
a:acteve{
	color: #6c6359;
}